$brand-color:         #f5f5dc;
$highlight:           lighten($brand-color, 35%);
$text-color:          #0b0404;
$muted-text-color:    #64644B;
$font-family:         "EB Garamond", Garamond, "Helvetica", sans-serif;

$on-bigphone:         300px;
$on-tablet:           700px;
$on-laptop:           900px;
$on-desktop:          1000px;
